
header{
    background: url('/img/Vector.png') top right no-repeat;
    .header__img{
        position: absolute;
        top: -200px;
        right: 0px;
    }
    height: 720px;
    .header{
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        .menu{
            display: flex;
            font-size: 14px;
            display: flex;
            padding-top: 10px;
            .menu_item{
                padding-right: 40px;
                list-style-type: none;
                .menu__link{
                    color: #000;
                    transition: all 0.5s;
                    &:hover{
                        color: #59BBF2;
                        text-decoration: none;
                        transition: all 0.5s;
                    }
                }  
            }
        }
        .header_contacs{
            padding: 2px;
            .header__phone{
                color: #fff;
                padding: 0 30px 0 10px;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }
}
.subheader{
    margin-top: 203px;
    width: 509px;
    .promo__header{
        line-height: 41px;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .promo__subheader{
        font-size: 16px;
    }
}

.hamburger{
    display: none;
}